.btn-block {
    margin-top: 20px;
    text-align: center;
}

#buttonsdiv {
    width: 50%;
    margin: 0 auto;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1d628d;
}